* {
    margin: 0;
    padding: 0 auto;
}

body {
    padding: 100px;
}


a:visited {
    color: white
}

a:active {
    color: #C0F0FC
}

.container-presentation {
    display: flex;
    flex-direction: row;
}

.container-child {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.my-name {
    background-color: #0A4040;
    color: white;
    padding: 10px;
    border-radius: 20px 0px;
    text-align: center;
}

.image-profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
}

.profile-description {
    font-size: 25px;
    text-align: justify;
    color: #0A4040;
}

.header {
    margin-top: 20px;
    font-size: 30px;
    background-color: #0A4040;
    color: white;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
}

.contact-info {
    background-color: #86A6A6;
    padding: 30px;
    color: white;
    font-size: 25px;
    font-weight: 200;
    list-style-type: none;
}

.list {
    color: #0A4040;
    font-size: 22px;
    padding: 40px;
    border: solid;
}

.container-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.skills {
    padding: 20px;
    font-size: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.img-skills {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.skills-child {
    display: flex;
    flex-direction: column;
    text-align: center;
}